.page-header {
  background-color: $background-first;
  .header {
    display: flex;
    align-items: center;
  }

  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
